ux-compose @ git+https://github.com/bitplorer/ux-compose.git@24a182f35e3d0743a2faafddb5ba0396324b2d9a
ux-dom @ git+https://github.com/bitplorer/ux-dom.git@2e894cd7bca66e1da6c2f9d42b2d1a8bb937c92c
ux-behavior @ git+https://github.com/bitplorer/ux-behavior.git@7d46979f59f284bc2d6d961ed372ec849e851dfc
ux-motion @ git+https://github.com/bitplorer/ux-motion.git@bbe7d73466a6c1eccb47e711568c80ce3b4d5487
ux-channel @ git+https://github.com/bitplorer/ux-channel.git@a6ab1594959b287b4754afe09d8aced5504edd8f#subdirectory=python
cek-host>=0.1.3
cek-surface>=0.1.3
fastapi
uvicorn[standard]
