ux-compose @ git+https://github.com/bitplorer/ux-compose.git@957f81fb5fed060213e623c6434e240ea6587a1f
ux-dom @ git+https://github.com/bitplorer/ux-dom.git@e8be99a52bfecd6026c200fa1c3dc6a74f87aacb
ux-behavior @ git+https://github.com/bitplorer/ux-behavior.git@793f120e3b1388925772cd069b070d7918b78baa
ux-motion @ git+https://github.com/bitplorer/ux-motion.git@67ff3f0c4912b70b7056f8226a6f226b6fe93f60
ux-channel @ git+https://github.com/bitplorer/ux-channel.git@985e58aee76ca683774c4d4d58ab30a1d3b6efee#subdirectory=python
cek-host>=0.1.3
cek-surface>=0.1.3
fastapi
uvicorn[standard]
